<form class="form form-horizontal">

    <div class="modal-header">
        <h4 class="modal-title">Create new service</h4>
    </div>

    <div class="modal-body">
        <div class="form-group">
            <label class="col-sm-3 control-label">Environment</label>
            <div class="col-sm-9">
                <select class="form-control" ng-model="formData.environmentId" >
                    <option value="">Please choose</option>
                    <option value="1">Development</option>
                    <option value="2">Test1</option>
                    <option value="3">Test2</option>
                    <option value="4">Acceptance1</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Service type</label>
            <div class="col-sm-9">
                <select class="form-control" ng-model="formData.serviceTypeId" >
                    <option value="">Please choose</option>
                    <option value="1">search 1.0</option>
                    <option value="2">search 2.0</option>
                    <option value="3">cart 1.0</option>
                    <option value="4">memcached 1.0</option>
                    <option value="5">mySQL 1.0</option>
                </select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        <button class="btn btn-info"  ng-click="ok(formData)">Create!</button>
    </div>
</form>