<form class="form form-horizontal">

    <div class="modal-header">
        <h4 class="modal-title">Create new service</h4>
    </div>

    <div class="modal-body">
        <div class="form-group">
            <label class="col-sm-3 control-label">Name</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="My image" ng-model="formData.name">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Repo and image</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="docker/ubuntu" ng-model="formData.repo">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Version</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="latest" ng-model="formData.version">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">arguments</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="--do_something" ng-model="formData.args">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        <button class="btn btn-info"  ng-click="ok(formData)">Create!</button>
    </div>
</form>