<form class="form form-horizontal">
  <div class="modal-header">
      <h4 class="modal-title">Deploy image on service</h4>
  </div>

  <div class="modal-body">
    <div ng-if="!modalData.image">
      <h5>Image</h5>

      <div ng-repeat="modalImage in modalImages" class="radio">
        <label class="i-checks">
          <input type="radio" ng-model="formData.image" name="image" value="{{modalImage.id}}">
          <i></i>
          {{modalImage.name}} ({{modalImage.version}})
        </label>
      </div>

      <div class="line line-dashed b-b line-lg pull-in"></div>
    </div>

    <div ng-if="!modalData.service">
      <h5>Service:</h5>

      <div ng-repeat="modalService in modalServices" class="radio">
        <label class="i-checks">
          <input type="radio" ng-model="formData.service" name="service" value="{{modalService.vrn}}">
          <i></i>
          {{modalService.serviceType}} {{modalService.version}} ({{modalService.environment}})
        </label>
      </div>

      <div class="line line-dashed b-b line-lg pull-in"></div>
    </div>

    <!--<h5>Marathon settings</h5>-->

    <!--<div class="line line-dashed b-b line-lg pull-in"></div>-->

    <!--<label class="control-label">-->
      <!--<textarea type="text" class="form-control" ng-model="formData.marathon" name="marathon-data" value="" cols="91" rows="15"><pre></pre></code></textarea>-->
    <!--</label>-->
  <!--</div>-->

  <div class="modal-footer">
      <button class="btn btn-default" ng-click="cancel()">Cancel</button>
      <button class="btn btn-info" ng-click="ok(formData)">Deploy!</button>
  </div>
</form>
