<form class="form form-horizontal">

<div class="modal-header">
    <h4 class="modal-title">Select service to deploy to</h4>
</div>

<div class="modal-body" ng-controller="ServicesCtrl">
        <div ng-repeat="service in services" class="radio">
            <label class="i-checks">
                <input type="radio" ng-model="$parent.$parent.formData" name="services" value="{{service.vrn}}" ng-required="!formData">
                <i></i>
                {{service.vrn}}
            </label>
        </div>
    <div class="line line-dashed b-b line-lg pull-in"></div>

        <h5>Marathon settings</h5>
        <div class="line line-dashed b-b line-lg pull-in"></div>
        <label class="control-label">
            <textarea type="text" class="form-control" ng-model="$parent.$parent.formData" name="marathon-data" value="" cols="91" rows="15"><pre></pre></code></textarea>
        </label>


    </div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button class="btn btn-info" ng-disabled="!formData" ng-click="ok(formData)">Deploy!</button>
</div>
</form>