<div ng-controller="EnvironmentsDetailCtrl">

    <!-- header -->

    <div class="wrapper bg-light lter b-b">
        <a ui-sref="app.environments.list" class="btn btn-sm btn-default w-xxs m-r-sm" tooltip="Back to environments"><i class="fa fa-long-arrow-left"></i></a>
        <span class="font-thin h4 v-middle">Environments / {{environment.name}}</span>
    </div>

    <!-- / header-->

    <!--services header-->

    <div class="wrapper">
        <span class="h4">Services</span>
    </div>

    <!-- / services header-->

    <div class="padder m-b">
        <button type="button" class="btn btn-sm btn-primary btn-addon" ng-click="addEvent()">
            <i class="fa fa-cube"></i>Deploy new service
        </button>
    </div>

    <!--services-->

    <div class="padder">
        <div class="hbox wrapper m-t-n hidden-xs">
            <div class="col v-middle w-xxs m-t-xs">
            </div>
            <div class="col v-middle">
                <span class="text-md">TYPE</span>
            </div>
            <div class="col v-middle m-t-xs hidden-xs">VRN</div>
            <div class="col v-middle m-t-xs hidden-xs">PORT</div>
            <div class="col v-middle m-t-xs hidden-xs">CONTAINERS</div>
        </div>
        <ul class="list-group list-group-lg no-radius m-b-none m-t-n-xxs">
            <li ng-repeat="service in environment.services" class="list-group-item clearfix b-l-3x ng-scope b-l-info">
                <a ng-include src="'demo/tpl/services.list.item.html'"
                </a>
            </li>
        </ul>
    </div>

    <!--/ services-->

</div>
