<!--header -->

<div class="wrapper bg-light lter b-b">
    <span class="font-thin h4 v-middle">Images</span>
</div>

<!--/ header -->


<div class="hbox hbox-auto-xs hbox-auto-sm">
    <div class="col wrapper-md">
        <div class="clearfix m-b">
            <button type="button" class="btn btn-md btn-info btn-addon" ng-click="openCreateModal()">
                <i class="fa fa-plus"></i>Import image
            </button>
        </div>
        <ul class="list-group list-group-lg no-radius m-b-none m-t-n-xxs">
            <li ng-repeat="image in images" class="list-group-item clearfix b-l-3x ng-scope b-l-info">
                <div ng-include src="'demo/tpl/image.list.item.html'"></div>
            </li>
        </ul>
    </div>
</div>

