<div class="hbox hbox-auto-xs hbox-auto-sm">
    <div class="col wrapper-md">
        <div class="clearfix m-b">
            <button type="button" class="btn btn-sm btn-primary btn-addon" ng-click="openCreateModal()">
                <i class="fa fa-plus"></i>Create service
            </button>
        </div>
        <div class="hbox wrapper hidden-xs m-t-n">
            <div class="col v-middle w-xxs m-t-xs">
            </div>
            <div class="col  v-middle">
                <span class="text-md">TYPE</span>
            </div>
            <div class="col v-middle m-t-xs hidden-xs">VRN</div>
            <div class="col v-middle m-t-xs hidden-xs">PORT</div>
            <div class="col v-middle m-t-xs hidden-xs">CONTAINERS</div>
        </div>
        <ul class="list-group list-group-lg no-radius m-b-none m-t-n-xxs">
            <li ng-repeat="service in services" class="list-group-item clearfix b-l-3x ng-scope b-l-info">
                <div ng-include src="'demo/tpl/services.list.item.html'"></div>
            </li>
        </ul>
    </div>
</div>


